body {
  font-family: Arial, sans-serif;
}

.home {
  padding: 40px;
  text-align: center;
}

.form-container {
  max-width: 600px;
  margin: auto;
  padding: 40px;
}

.appointment-form input,
.appointment-form select,
.appointment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

button {
  background: #198754;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
}
